extends layout

block content
  h1= title
  p Welcome to #{title}
  p I am a student at Northwest Missouri State University studying Applied Computer Science.
  p An interesting fact about me: I enjoy learning web development and building full-stack web applications using modern technologies like Node.js and Express.
