extends layout

block content
  h1= title
  p Welcome to #{title}
  p I am a student at the University of Missouri - Kansas City studying Computer Science.
  p An interesting fact about me: I enjoy learning web development and building full-stack applications using modern technologies like Node.js and Express.
